<div class="container">
  <p><% if @recipes.present? %>
    <p>Here are the recipes containing the term(s) <strong><%= params[:search] %></strong>.</p>
    <% @recipes.each do |recipe| %>
      <li><a href="/recipes/<%= recipe.id %>/<%= recipe.slug %>"><%= recipe.name %></a></li>
    <% end %>
  <% else %>
    <p>There are no recipes containing the term(s) <strong><%= params[:search] %></strong>.</p>
  <% end %></p>
  <p><a href="/search">Back to Search</a></p>
</div>
