<div class="container">
  <% if flash[:message] != nil %>
    <span class="alert"><%= flash.now[:message] %></span>
  <% end %>
  <h2>Edit Your Recipe</h2>
  <form action="/recipes/<%= @recipe.id %>/<%= @recipe.slug %>" method="post" enctype="multipart/form-data">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Name: <input type="text" name="recipe[name]" id="recipe_name" value="<%= @recipe.name %>" required></p>
    <p><img src="<%= @recipe.avatar.url %>"></p>
    <p>Add New Photo: <input type="file" name="file" value="<%= @recipe.avatar %>"/></p>
    <p>Category (select one): <br>
      <% Category.all.each do |category| %>
      <input type="radio" name="recipe[category_id]" value="<%= category.id %>" id="category_<%= category.id %>" <%= 'checked' if @recipe.category == category %> required> <%= category.name %>
    <% end %></p>
    <p>Tags (you may select more than one): <br>
      <% Tag.all.each do |tag| %>
      <input type="checkbox" name="recipe[tag_ids][]" value="<%= tag.id %>" id="tag_<%= tag.id %>" <%= 'checked' if @recipe.tags.include?(tag) %>> <%= tag.name %>
    <% end %></p>
    <p>Ingredients</p>
    <% i = 1 %>
    <% @recipe.ingredients.each do |ingredient| %>
      <div id="ingredient_item_<%= i %>">
        <p>Name: <input type="text" name="ingredient[][name]" id="ingredient_name_<%= i %>" value="<%= ingredient.name %>" required> Amount: <input type="text" name="ingredient[][amount]" size="5" id="ingredient_amount_<%= i %>" value="<%= ingredient.amount %>" required> Measurement: <input type="text" name="ingredient[][measurement_type]" size="33" value="<%= ingredient.measurement_type %>" placeholder="e.g. cup, teaspoon, tablespoon, etc." id="ingredient_measurement_<%= i %>" required> <button class="btn btn-danger btn-sm" onclick="removeDiv('ingredient_item_<%= i %>');">X</button></p>
      </div>
      <% i += 1 %>
    <% end %>
    <div id="new_ingredient">
    </div>
    <p><input type="button" id="more_fields" onclick="add_fields();" value="Add Another Ingredient" class="btn btn-default" /> <input type="button" id="less_fields" onclick="remove_fields();" value="Remove Added Ingredient" class="btn btn-default" /></p>
    <p>Instructions:<br />
      <textarea name="recipe[instructions]" cols="40" rows="5" id="recipe_instructions" required><%= @recipe.instructions %></textarea></p>
      <input type="submit" value="Save Changes" name="Save Changes" class="btn btn-default"> <a class="btn btn-default" href="/recipes/<%= @recipe.id %>/<%= @recipe.slug %>">Cancel</a>
  </form>
</div>
