<div class="container">
  <% if flash[:message] != nil %>
    <span class="alert"><%= flash.now[:message] %></span>
  <% end %>
  <h2 class="recipe-h3">Make It Your Own</h2>
  <div class="col-md-8 col-md-offset-2">
    <form action="/recipes/makeit" method="post" enctype="multipart/form-data" class="well">
      <div class="form-group"><strong>Name:</strong> <input type="text" name="recipe[name]" id="recipe_name" value="<%= @recipe.name.titleize %>" size="30" required></div>
      <% if @recipe.avatar.url %>
        <p><img src="<%= @recipe.avatar.url %>" class="img-responsive"></p>
      <% end %>
      <div class="form-group">
        <strong>Replace Photo:</strong> <input type="file" name="file" value="<%= @recipe.avatar %>">
      </div>
      <div class="form-group"><strong>Category (select one):</strong> <br>
        <% Category.all.each do |category| %>
        <input type="radio" name="recipe[category_id]" value="<%= category.id %>" id="category_<%= category.id %>" <%= 'checked' if @recipe.category == category %> class="radio-inline" required>
          <% if category.name == "entrees" %>
            Entrées
          <% else %>
            <%= category.name.titleize %>
          <% end %>
        <% end %>
      </div>
      <% if @recipe.ingredients.count > 0 %>
        <% i = 1 %>
        <% @recipe.ingredients.each do |ingredient| %>
          <div id="ingredient_item_<%= i %>">
            <hr>
            <div class="form-group">
              <strong>Ingredient Name:</strong> <input type="text" name="ingredient[][name]" id="ingredient_name_<%= i %>" value="<%= ingredient.name.titleize %>" required>
            </div>
            <div class="form-group">
              <strong>Ingredient Amount:</strong> <input type="text" name="ingredient[][amount]" size="5" id="ingredient_amount_<%= i %>" value="<%= ingredient.amount %>" required></div>
            <div class="form-group">
              <strong>Ingredient Measurement:</strong> <input type="text" name="ingredient[][measurement_type]" size="33" value="<%= ingredient.measurement_type.titleize %>" placeholder="e.g. cup, teaspoon, tablespoon, etc." id="ingredient_measurement_<%= i %>" required> <br><button class="btn btn-danger btn-xs" onclick="removeDiv('ingredient_item_<%= i %>');">Delete Ingredient</button>
            </div>
          </div>
          <% i += 1 %>
        <% end %>
      <% else %>
        <hr>
        <div class="form-group">
          <strong>Ingredient Name:</strong> <input type="text" name="ingredient[][name]" id="ingredient_name_1" required>
        </div>
        <div class="form-group">
          <strong>Ingredient Amount:</strong> <input type="text" name="ingredient[][amount]" size="5" id="ingredient_amount_1" required>
        </div>
        <div class="form-group">
          <strong>Ingredient Measurement:</strong> <input type="text" name="ingredient[][measurement_type]" size="33" placeholder="e.g. cup, teaspoon, tablespoon, etc." id="ingredient_measurement_1" required>
        </div>
      <% end %>
      <div class="form-group" id="new_ingredient"><!-- receives new ingredient forms --></div>
      <div class="form-group"><input type="button" id="more_fields" onclick="add_fields();" value="Add Another Ingredient" class="btn btn-default" /> <input type="button" id="less_fields" onclick="remove_fields();" value="Remove Added Ingredient" class="btn btn-default" /></div>
      <hr>
      <div class="form-group">
        <strong>Instructions:</strong><br />
        <textarea name="recipe[instructions]" cols="40" rows="5" id="recipe_instructions" wrap="hard" required>
          <%= @recipe.instructions %>
        </textarea>
      </div>
        <input type="submit" value="Make It Your Own!" name="Make It Your Own" class="btn btn-default"> <a class="btn btn-default" href="/recipes/<%= @recipe.id %>/<%= @recipe.slug %>">Cancel</a>
    </form>
  </div>
</div>
