<% if flash[:message] != nil %>
  <span class="alert"><%= flash.now[:message] %></span>
<% end %>
<h2><%= @recipe.name %></h2>
<h6>Posted by <%= @recipe.user.name %> in <%= @recipe.category.name.titleize %></h6>
<h4>Ingredients</h4>
<table cellpadding="5">
  <tr>
    <th>Amount</th>
    <th>Measurement</th>
    <th>Ingredient</th>
  </tr>
    <% @recipe.ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.amount %></td>
        <td><%= ingredient.measurement_type %></td>
        <td><%= ingredient.name %></td>
      </tr>
    <% end %>
</table>
<h4>Instructions</h4>
<p><%= @recipe.instructions %></p>
<% if @recipe.user_id == session[:user_id] %>
  <button>Edit Your Recipe</button>
<% else %>
  <button>Make It Your Own</button>
<% end %>
