<div class="container">
  <% if flash[:message] != nil %>
    <span class="alert"><%= flash.now[:message] %></span>
  <% end %>
  <h2>Hello, <%= @user.name %>!</h2>
  <div class="col-md-4">
    <h4>Your recipes</h4>
    <% @user.recipes.each do |recipe| %>
      <li><a href="/recipes/<%= recipe.id %>/<%= recipe.slug %>"><%= recipe.name %></a></li>
    <% end %>
  </div>
  <div class="col-md-4">
    <h4>Your Favorites</h4>
    <% @user.find_voted_items.each do |item| %>
      <% @recipe = Recipe.find_by_name(item.name) %>
      <li><a href="/recipes/<%= @recipe.id %>/<%= @recipe.slug %>"><%= item.name %></a></li>
    <% end %>
  </div>
</div>
